<h1 style="margin: 1%;border-bottom: 1px solid;max-width: 25%"><i>Patient List</i></h1>
<table class="table table-sm table-striped ml-4 " style="margin: 1%; max-width: 15rem;">
<thead class="thead-dark" style="color: blue">
    <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Email ID</th>
        <th>Action</th>
        <th>Action</th>
        <th>Action</th>
    </tr>
</thead>

    <% @patients.each do |patient| %>
        <tr>
            <td><%= patient.patient_name %></td>
            <td><%= patient.phone_number %></td>
            <td><%= patient.email_id %></td>
            <td><%= link_to "View", patient_path(patient) %></td>
            <td><%= button_to "Edit", edit_patient_path(patient), method: 'get' %></td>
            <td><%= button_to "Delete", patient_path(patient), method: 'delete', data: {turbo_confirm: 'Are you Sure?'} %></td> 
        </tr>
    <% end %>
</table>
<div style="margin: 1%">
    <%= link_to "Add Patient", new_patient_path %>
</div>