<h1 style="margin: 1%;border-bottom: 1px solid;max-width: 25%"><i>Doctors List</i></h1>
<table class="table table-striped ml-4 " style="margin:1%; max-width: 50%">
<thead class="thead-dark" style="color: blue">
    <tr>
        <th>Name</th>
        <th>Specialism</th>
        <th>Action</th>
        <th>Action</th>
        <th>Action</th>
    </tr>
</thead>

    <% @doctors.each do |doctor| %>
        <tr>
            <td><%= doctor.name %></td>
            <td><%= doctor.specialism %></td>
            <td><%= link_to "View", doctor_path(doctor) %></td>
            <td><%= button_to "Edit", edit_doctor_path(doctor), method: 'get' %></td>
            <td><%= button_to "Delete", doctor_path(doctor), method: 'delete', data: {turbo_confirm: 'Are you Sure?'} %></td> 
        </tr>
    <% end %>
</table>
<div style="margin: 0.5%">
    <%= link_to "Add Doctor", new_doctor_path %>
</div>